*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html{
    display: block;
}
body{
    font-size: 13px;
    line-height: 1.8em;
}
@media (min-width: 768px) {
    .container {
        min-width: 960px !important;
    }
}

    /*waitload*/
    #preloader{
    background: rgba(255,255,255,0.8) url(/img/Book.gif) no-repeat center;
    background-size: 3%;
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 100;
    }
    .fondu-out {
    display: none;
    opacity: 0;
    transition: opacity 0.8s ease-out ;
    }

  /*top_header*/
  .topheader {
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    background-color: #00cc66;
    color: white;
  }
  .left_topheader {
    float: left;
    width: 60%;
  }
  .left_topheader a:hover {
    text-decoration: underline;
    color: white;
  }
  .left_topheader .help_topheader,.sale_topheader, .promotion {
    color: white;
    text-decoration: none;
  }
  .right_topheader {
    float: right;
    width: 40%;
  }
  .help_topheader {
    color: white;
    text-decoration: none;
  }
  .right_topheader .menu_topheader {
    float: right;
    display: flex;
    list-style: none;
    margin: 0;
  }
  .menu_topheader li a {
    text-decoration: none;
    color: white;
  }


  /*bottom header*/
  #header {
    background-color: #00cc66;
  }
  .col {
    text-align: center;
  }
  .img-header a img{
    width: 85%;
    height: 60px;
    margin: 8px 10px;
  }
  .search_header form {
    margin-top: 15px;
  }
  .search_header form input {
    width: 85%; 
    border: none;  
    padding: 8px 30px;
    margin: 0;
  }
  .search_header form #icon-input {
    position: absolute;
    color: #00cc66;
    font-size: 18px;
    margin: 11px 7px;
  }
  .search_header form .search {
    background-color: white; 
    width: 80px; 
    border: none;
    color: #00cc66; 
    font-weight: 600;
    border-left: 1px solid #eee;
  }
  .cart-header .cart{
    margin-top: 20px;
    text-align: center;
  }
  .cart-header .cart .btn a {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    text-decoration: none;
  }

/*menu*/
#menu{
    background-color: #eee;
}
#main-menu{
    display: flex;
    list-style: none; 
    margin: 0;
    padding: 0;
}
nav #main-menu li a{
    color: #111;
    text-decoration: none;
    display: block;
    padding: 8px 15px;
    font-weight: 600;
}
nav #main-menu li:hover a{
    background: #dddddd;
    transition: all 0.3s;
    color: #00cc66;
}
#main-menu ul.sub-menu{
    position: absolute;
    background-color: #f5f5f5;
    padding: 10px 0px;
    list-style: none;
    width: 172px;
    border: 1px solid white;
    display: none;
    z-index: 2;
}
#main-menu li:hover>ul.sub-menu{
    display: block;
}
#main-menu ul.sub-menu a{
    padding: 8px 15px;
    left: 0;
}
#main-menu ul.sub-menu li a{
    background: none;
    transition: none;
    color: #111;
}
#main-menu ul.sub-menu li:hover>a{
    margin-left: 5px;
    color: white;
    background: #00cc66;
}
#main-menu ul.sub-menu li:last-child a {
    border: none;
}
#main-menu ul.sub-menu ul.sub-menu{
    top: -1px;
    left: 170px;
    height: 337px;
}

/*Breadcrumbs*/
.breadcrumb {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0.75rem 1rem;
    margin-bottom: 1rem;
    list-style: none;
    background-color: #e9ecef;
    border-radius: 0.25rem
}
.bg-light {
    background-color: #f8f8f8!important;
}
.breadcrumb-item.active {
    color: #6c757d;
}
.breadcrumb-item a {
    text-decoration: none;
    color: #00cc66;
}
.breadcrumb-item+.breadcrumb-item {
    padding-left: 0.5rem;
}
.breadcrumb-item+.breadcrumb-item::before {
    display: inline-block;
    padding-right: 0.5rem;
    color: #6c757d;
    content: "/";
}

/*strart register*/
.clear{
    clear: both;
}
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
#layoutGroup1{
    padding: 0;
}
#layoutGroup1 .block{
    margin-bottom: 2em;
}
#layoutGroup1 .block h1{
    margin: 0px auto;
    overflow: hidden;
    padding: 7px 0px 5px 0;
    clear: both;
    font-size: 22px;
    color: #6c757d;
    font-weight: bold;
    border-bottom: 2px solid #eeeeee;
    border-radius: 20px;
}
#layoutGroup1 .block h1 span{
    font-size: 18px;
    font-weight: normal;
}
#layoutGroup1 .block h1 a{
    text-decoration: none;
    color: #00cc66;
}
#layoutGroup1 .block h1 a:hover{
    text-decoration: underline;
}
#layoutGroup1 .blockcontent{
    margin-bottom: 70px;
    padding: 8px 0 ;
}
.blockcontent .register-img img{
    width: 100%;
    height: 300px;
    margin-top: 30px;
}
/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: 1px solid #ddd
  }
  
  /* Add a background color when the inputs get focus */
  input[type=text]:focus, input[type=password]:focus {
    background-color: #eee;
    outline: none;
  }
  
  /* Set a style for all buttons */
  .container-register button {
    background-color: #00cc66;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  
  .container-register button:hover {
    opacity:1;
  }
  
  
  /* Float signup buttons and add an equal width */
  .container-register .signupbtn {
    float: left;
    width: 100%;
  }
  
  /* Add padding to container elements */
  .container-register {
    padding: 16px;
    border: none;
  }
  .container-register h3 {
    color: #595959;
    font-size: 22px;
    font-weight: bold;
  }
  
  /* Modal Content/Box */
  .modal-content {
    border: none;
    width: 100%; /* Could be more or less, depending on screen size */
  }
  
  /* Style the horizontal ruler */
  .container-register hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
  
  /* Clear floats */
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
 /* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}



/*footer*/
#footer{
    font-size: 13px;
    background-color: #eee;
    display: block;
    height: auto;
    text-align: center;
    border-radius: 20px;
}
.row{
    display: flex;
}
.container-footer ul{
    list-style-type: none;
}
.container-footer li{
    color: #111;
    font-weight: 400;
}
.container-footer li:hover{
    color: #00cc66;
}
.container-footer li a{
    color: #111;
    text-decoration: none;
}
.container-footer li a:hover{
    color: #00cc66;
}
.footer-post {
    margin-top: 15px;
    border-right: 1px solid #ffffff;
}